.login_btn{
color: black;
background-color: #FFC312;
}

.login_btn:hover{
color: black;
background-color: #f5e642;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    margin-bottom: 20px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.imp {
  margin-top: 10px;
  margin-bottom: 25px;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  margin-left: -9px;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.special-card {
  background-color: rgba(245, 245, 245, 0.75);
}
